<script setup lang="ts">
import { ref } from "vue";
import { RouterView } from "vue-router";
import {
  mdiStarCircle,
  mdiWeatherNight,
  mdiGlassCocktail,
  mdiAccountMultiple,
  mdiBeer,
  mdiFood,
  mdiCart,
  mdiGlassMug,
  mdiTableChair,
} from "@mdi/js";
import { useUserStore } from "../stores/Order";
import { useProductStore } from "../stores/product";
const UserStore = useUserStore();
const useProduct = useProductStore();
let amount = ref(0);
const theme = ref("light");

const items = [
  {
    src: "https://www.whynotdeals.com/wp-content/uploads/2017/03/the-drunken-poet-singapore-johnnie-walker-black-label-promotion-ends-30-apr-2017_why-not-deals-724x1024.jpeg",
  },
  {
    src: "https://s3-ap-southeast-1.amazonaws.com/s3.loopme.my/img/newos/posts/2x/3381_mh6zwXZqTGhb3g7o_.jpg",
  },
];
const links = ["Home", "About Us", "Team", "Services", "Blog", "Contact Us"];
</script>

<template>
  <v-app id="inspire">
    <v-app-bar flat color="blue-darken-4">
      <v-container class="fill-height d-flex align-center">
        <v-btn :prepend-icon="mdiGlassMug" to="/homeview-view"
          >PhuChayKhayNam</v-btn
        >

        <v-spacer></v-spacer>
      </v-container>
      <v-btn :prepend-icon="mdiCart" to="/cart-view" color="orange"></v-btn>
    </v-app-bar>

    <v-main class="bg-blue-grey-lighten-5">
      <v-container style="max-width: 100%">
        <v-row>
          <v-col cols="2">
            <v-sheet rounded="lg">
              <v-list rounded="lg">
                <v-list density="compact" nav>
                  <v-list-item
                    :prepend-icon="mdiTableChair"
                    title="Table"
                    to="/TableView-view"
                    color="orange"
                  ></v-list-item>

                  <!-- <v-list-item> MENU </v-list-item>

                  <v-list-item
                    :prepend-icon="mdiGlassCocktail"
                    title="Whisky"
                    to="/whiskey-view"
                    color="orange"
                  ></v-list-item>
                  <v-list-item
                    :prepend-icon="mdiBeer"
                    title="Mixer"
                    to="/mixer-view"
                    color="orange"
                  ></v-list-item>
                  <v-list-item
                    :prepend-icon="mdiFood"
                    title="Food"
                    to="/snacks-view"
                    color="orange"
                  ></v-list-item> -->
                </v-list>
              </v-list>
            </v-sheet>
            <v-sheet rounded="lg" style="margin-top: 20px">
              <v-list rounded="lg">
                <v-list density="compact" nav>
                  <h1
                    style="
                      font-size: 30px;
                      text-align: center;
                      font-family: Cambria, Cochin, Georgia, Times,
                        'Times New Roman', serif;
                      padding: 10px;
                    "
                  >
                    <v-icon color="orange" icon="mdiGlassCocktail"></v-icon>
                    Promotion<v-icon icon="mdiGlassCocktail" />
                  </h1>
                  <v-carousel
                    height="650px"
                    cycle
                    hide-delimiter-background
                    show-arrows="hover"
                  >
                    <v-carousel-item
                      v-for="(item, i) in items"
                      :key="i"
                      :src="item.src"
                      cover
                    >
                      <v-sheet :items="items[i]" :src="item.src"></v-sheet>
                    </v-carousel-item>
                  </v-carousel>
                </v-list>
              </v-list>
            </v-sheet>
          </v-col>
          <v-col>
            <v-sheet rounded="lg">
              <router-view></router-view>
            </v-sheet>
          </v-col>
        </v-row>
      </v-container>
      <v-footer color="blue-darken-4" padless>
        <v-row justify="center" no-gutters>
          <hr style="width: 100%; margin-bottom: 10px" />

          {{ new Date().getFullYear() }} — Copyright © 2018-2022 Faculty of
          Informatics, Burapha University. All rights reserved.
        </v-row>
      </v-footer>
    </v-main>
  </v-app>
</template>
