<script setup lang="ts">
import { ref } from "vue";
import { RouterView } from "vue-router";
import { useCartStore } from "../stores/cart";
import { useProductStore } from "../stores/product";
import { useUserStore } from "../stores/Order";
import {
  mdiWeatherSunny,
  mdiWeatherNight,
  mdiFolder,
  mdiAccountMultiple,
  mdiStar,
  mdiPlus,
  mdiCartArrowDown,
  mdiCart,
} from "@mdi/js";

const useCart = useCartStore();
const useProduct = useProductStore();
const UserStore = useUserStore();

const mixerItems = ref([]);

// Populate the mixerItems with data from useProduct
// Assuming useProduct.mixer returns an array of items
mixerItems.value = useProduct.mixer;
</script>

<template>
  <v-app>
    <v-card
      width="100%"
      height="400px"
      style="
        background-image: url('https://d2td6mzj4f4e1e.cloudfront.net/wp-content/uploads/sites/9/2019/04/soft-drinks.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
      "
    >
    </v-card>
    <v-main>
      <h1
        style="
          font-size: 200px;
          text-align: center;
          font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        "
      >
        Mixer
      </h1>
      <v-container style="margin-top: 1cm; padding: 30px">
        <v-row>
          <v-col
            v-for="(item, index) in mixerItems"
            :key="index"
            cols="12"
            md="4"
          >
            <v-card class="mx-auto" max-width="400" height="480px">
              <v-img
                class="align-end text-white"
                height="300"
                :src="item.image"
              ></v-img>
              <v-card-subtitle class="pt-4">{{ item.subtitle }}</v-card-subtitle>
              <v-card-text>
                <div>{{ item.name }}</div>
                <div></div>
                <br />
                <div style="font-size: 17px">{{ "฿ " + item.price }}</div>
              </v-card-text>
              <v-card-actions>
                <v-btn
                  color="orange"
                  :prepend-icon="mdiCartArrowDown"
                  @click="useCart.addToCart(item)"
                >
                  ADD
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
      <router-view></router-view>
    </v-main>
  </v-app>
</template>
